/* LiveTracking.css */

.map-page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Adjust height as needed */
  width: 1200px;
  margin-left: 300px;
}
.Search{
  margin-right: 500px;
}

.map-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.search-input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 600px; /* Adjust width as needed */
}

.filter-options {
  display: flex;
}

.filter-options label {
  margin-right: 10px;
}

.filter-options input[type="checkbox"] {
  margin-right: 5px;
}

.map-container {
  flex: 1;
}
