/* admin.css */



.addadmin-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  margin-left: 280px;
  width: 1100px;
}

.addadmin-main-content {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 20px;
}

.addadmin-header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

.addadmin-heading {
  margin: 0;
  font-size: 24px;
}

.addadmin-content {
  padding: 20px;
}

.addadmin-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.addadmin-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.addadmin-heading1 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.addadmin-subheading {
  margin: 5px 0 0 0;
  font-size: 16px;
  color: #777;
}

.addadmin-details {
  margin-top: 20px;
}

.addadmin-strong-text {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin: 5px 0;
}

.addadmin-button-logout-small {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.addadmin-button-logout-small:hover {
  background-color: #d32f2f;
}

.addadmin-button-logout-small svg {
  margin-right: 0;
}
