/* src/Dashboard.css */

.dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
    background: #F4F6FA;

}
img{
    width: 48px;
    height: 48px;
    
}
.bd{
    margin-left: 250px;
    
}
.dashboard-summary {
    display: grid;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: 280px;
}


.summary-item {
    display: inline-table;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
    height: 100px;
    
 

}

.summary-item h2 {
    margin: 10px 0 0;
}

