
.login-container {
    display: flex;
    height: 100vh;
    background-color: #f4f5f7;
    width: 1400px;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    
  }
  
  .image-section img {
    width: 700px;
    height: 700px;
    
  }
  
  .login-form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .login-form-container {
    width: 100%;
    max-width: 400px; /* Adjust the width as needed */
    background: #f9f9f9; /* Optional: background color for the form container */
    padding: 20px; /* Optional: padding for the form container */
    border-radius: 8px; /* Optional: rounded corners for the form container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: shadow for the form container */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-logo {
    margin-bottom: 20px;
  }
  
  .login-logo img {
    max-width: 100px; /* Adjust the size of the logo image as needed */
    height: auto;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .login-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login-input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button {
    padding: 10px;
    background-color: #f28c28;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #e07b21;
  }
  
  .login-form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .login-checkbox-label {
    display: flex;
    align-items: center;
  }
  
  .login-checkbox {
    margin-right: 5px;
  }
  
  .login-forgot-password {
    color: #f28c28;
    text-decoration: none;
  }
  
  .login-forgot-password:hover {
    text-decoration: underline;
  }
  
  